body {
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar {
  font-family: "Poller One", Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 100px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
  z-index: 10;
  justify-content: space-between;
}

#navbar div {
  padding: 5px;
  z-index: 10;
  padding-right: 25px;
}

#container {
  align-items: center;
  cursor: default;
  display: flex;
  flex-grow: 2;
  justify-content: center;
}

.routinesBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 50px;
background-color: beige;
}
.routinesBox h2 {
  display: flex;
  justify-content: center;
}

#myRoutinesTopPart {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  align-items: center;
  justify-content: space-evenly;
  
}

.createRoutineDiv {
  display: flex;
  justify-content: center;
}
#createRoutineForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#workoutsBox {
  display: flex;
}

.routineContent {
  border: 2px solid black;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(yellow, rgb(187, 109, 105));
  margin-top: 30px;
}

h3 {
  text-align: center;
}

.activityContent {
  border: 2px solid black;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    rgb(187, 109, 105),
    rgb(189, 130, 127),
    rgb(187, 109, 105)
  );
}

.SingleRoutine {
    border: 2px solid black;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
    background-image: linear-gradient(
      rgb(187, 109, 105),
      rgb(189, 130, 127),
      rgb(187, 109, 105)
    );
    min-width: 300px;
    padding-top: 20px;
}

#singleEditRoutineActivity {
  border: 2px solid black;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
    background-image: linear-gradient(
      rgb(187, 109, 105),
      rgb(189, 130, 127),
      rgb(187, 109, 105)
    );
    min-width: 300px;
    padding-top: 20px;
}

#myRoutinesPage {
  background-color: beige;
}

#singleRoutineDetails {
  border: 2px solid black;
  max-width: 700px;
  align-items: center;
}

#editRoutineActivity {
  border: 2px solid black;
  max-width: 700px;
  align-items: center;
}



#routineDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
}

#attachActivityForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 10px;
}

.activitiesContent {
  border: 2px solid black;
  max-width: 300px;
}
#navLinkButtons {
  min-height: 50%;
  min-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0;
  margin-left: 20px;
  animation: 1s slide-right forwards;
  text-decoration: none;
}

#navbar a {
  text-decoration: none;
}

#navbar .logo h2 {
  color: white;
  text-decoration: none;
}
#activityButton {
  background-color: yellow;
}
#routineButton {
  background-color: yellow;
}
#homeButton {
  background-color: yellow;
}
#myRoutineButton {
  background-color: yellow;
}
#logoutButton {
  background-color: yellow;
}

#myRoutinesH2 {
  display: flex;
  justify-content: center;
}

.submitPost {
  background-color: beige;
  min-height: 100%;
}
.routineWithActivities{
  padding-top: 15px
}